@font-face
{
font-family: Freshman;
src: url('Freshman.ttf')
    
}
body
{
padding-top:20px;
}
.like
{
position:absolute;
top:300px;
}
#div_display
{
font-size:25px;
padding-top:30px;
color:gainsboro;
position:relative;
left:-20px;
}
.wish
{
font-family: Freshman;
font-size:50px;
color:white;
position:relative;
margin-left:auto;
margin-right:auto;
width:1200px;
text-align:center;
}

.font-face
{
font-family: BigNoodleTitling;
src: url('big_noodle_titling.ttf')
}
.web
{
margin-left:auto;
margin-right:auto;
width:1200px;
position:relative;
font-family: BigNoodleTitling;
top:-100px;
}

.menu
{

}

#eventsinner
{

width:1200px;

color:white;
height:500px;
padding-top:320px;
}
.footer
{
margin-left:auto;
margin-right:auto;
border-top:1px solid white;
clear:both;
position:relative;
width:1200px;

color:white;
height:100px;

}

.footer ul
{
list-style:none;
padding-top:20px;
}
.footer li
{
float:left;
padding-left:35px;
padding-left:35px;
font-size:25px;

}
.footer a
{color:white;}
.right
{
float:right;
}
.icons
{
top:190px;
position:absolute;
left:80px;
}
.footer li a:hover
{
border:1px solid black;
background-color:black;
border-radius:30px;
}
#homepage
{

width:800px;
height:370px;
color:gainsboro;
font-size:20px;
padding-top:150px;
float:left;
text-align:justify;

}
.side
{
margin-left:40px;
padding-left:50px;
position:relative;
top:170px;
color:white;
background-image:url("../images/panel.jpg");
float:left;
width:300px;
height:250px;
font-size:27px;
text-align:center;
}

.info
{
color:white;
font-size:20px;
position:relative;
left:200px;
top:20px;
}

